@use '@/styles/variables.scss' as *;

.container {
  padding: $spacing-xl * 2 $spacing-lg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 100rpx;
  margin-bottom: $spacing-md;
}

.title {
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  color: $color-text-secondary;
  margin-bottom: $spacing-sm;
}

.description {
  font-size: $font-size-sm;
  color: $color-text-tertiary;
  text-align: center;
}
